// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #F4223E;
  --ion-color-primary-rgb: 249, 199, 62;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;        
  --ion-color-primary-shade: #F42272;
  --ion-color-primary-tint: #F42272;

  /** secondary **/
  --ion-color-secondary: #F9ACB6;
  --ion-color-secondary-rgb: 204, 116, 140;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #FBAECB;
  --ion-color-secondary-tint: #FBAECB;

  /** tertiary **/
  --ion-color-tertiary: #F45066;
  --ion-color-tertiary-rgb: 242, 185, 179;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #F4508F;
  --ion-color-tertiary-tint: #F4508F;

  /** success **/
  --ion-color-success: #2FD83A;
  --ion-color-success-rgb: 151, 215, 177;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2FD83A;
  --ion-color-success-tint: #2FD83A;

  /** warning **/
  --ion-color-warning: #FCC844;
  --ion-color-warning-rgb: 234, 199, 103;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #FCC844;
  --ion-color-warning-tint: #FCC844;

  /** danger **/
  --ion-color-danger: #ED1C24;
  --ion-color-danger-rgb: 196, 116, 116;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ED1C24;
  --ion-color-danger-tint: #ED1C24;

  /** dark **/
  --ion-color-dark: #232121;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121111;
  --ion-color-dark-tint: #231D1D;

  /** medium **/
  --ion-color-medium: #BEBEBE;
  --ion-color-medium-rgb: 190, 190, 190;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 244, 244, 244;
  --ion-color-medium-shade: #949494;
  --ion-color-medium-tint: #BFB1B1;

  /** light **/
  --ion-color-light: #EFF1F3;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #404040;
  --ion-color-light-contrast-rgb: 64, 64, 64;
  --ion-color-light-shade: #EFF1F3;
  --ion-color-light-tint: #EFF1F3;
}
