<ion-content class="ion-padding" color="light">
	<ion-row class="full-height-container ion-justify-content-center">
		<ion-button class="track-btn ion-align-self-center" router-direction="forward" shape="round" color="primary" size="large" [routerLink]="['/track-today']">Track Today</ion-button>
	</ion-row>
</ion-content>

<ion-footer>
	<ion-ripple-effect></ion-ripple-effect>
	<ion-toolbar color="secondary" [routerLink]="['/track-today']">
		<ion-title class="ion-text-center ion-text-wrap">
			Inspect Happiness Over Time
		</ion-title>
	</ion-toolbar>
</ion-footer>