<ion-content class="ion-padding" color="secondary">
	<ion-row class="full-height-container ion-justify-content-center">
		<ion-button class="track-btn ion-align-self-center" router-direction="forward" shape="round" color="primary" size="large" [routerLink]="['/track-today']">Track Today</ion-button>
	</ion-row>
</ion-content>

<ion-footer>
	<ion-ripple-effect></ion-ripple-effect>
	<ion-toolbar color="tertiary" [routerLink]="['/stats']" router-direction="forward">
		<ion-title class="ion-text-center ion-text-wrap">
			Happiness Over Time
		</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="arrow-forward"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>